<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.production_environment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cal_g"></activity>>
        <activity android:name=".WordList"></activity>
        <activity android:name=".TestPlay" />
        <activity android:name=".TestAnswer" />
        <activity android:name=".V_book" />
        <activity android:name=".Test" />
        <activity android:name=".Past_q" />
        <activity android:name=".Story" />
        <activity android:name=".SG" />
        <activity android:name=".FE" />
        <activity android:name=".Grade" />
        <activity android:name=".Conf" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".Login" />
        <activity android:name=".TitleScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>